<!-- {{> aside--z2-info }} -->
<aside class="drawer__aside drawer__aside--z2-info" id="asideZ2">
  <!-- document informatipn -->
  <section class="aside-section b2 d r">

    <h1 class="aside-section__heading">Document Information</h1>


    <label for="docTitle" class="aside-section__text" id="">Title:</label>
    <input class="aside-section--margin" type="text" id="docTitle" name="docTitle" />

    <label for="authorName" class="aside-section__text" id="">Author:</label>
    <input class="aside-section--margin" type="text" id="docTitle" name="docTitle" />

    <label for="companyName" class="aside-section__text aside-section--margin"
      id="">Company/Organization:</label>
    <input class="aside-section--margin" type="text" id="docTitle" name="docTitle" />
  </section>

  <section class="aside-section b2 d r" id="">
    <h1 class="aside-section__heading">ViewportDoc Editor</h1>
    <p class="aside-section__text" id="">Created by:</p>
    <img class="footer__logo" src="assets/images/journey-viewportdocs-logo-home.svg"
      alt="logo" />
    <p class="aside-section__text" id="">Copyright © 2021 Journey ViewportDocs</p>
    </p>
    <p class="aside-section__text" id="">www.viewportdocs.com</p>
  </section>
</aside>
