{{!-- {{> aside-z0 }} --}}
<aside class="drawer__aside drawer__aside--z0" id="asideZ0">
  <!-- font family card -->
  <section class="card-aside" id="">
    <h1 class="card-aside__heading">Font Family</h1>
    <label class="card-aside__text" for="fontFamily0">
      <input class="" type="radio" name="fontCollection" id="fontFamily0"
        value="fontFamily0" onchange="fontFamilyClicked(0)" />
      Open Sans/Open Sans
    </label>
    <label class="card-aside__text" for="fontFamily0">
      <input class="" type="radio" name="fontCollection" id="fontFamily1"
        value="fontFamily1" onchange="fontFamilyClicked(1)" />
      Michroma/Raleway
    </label>
    <label class="card-aside__text" for="fontFamily0">
      <input class="" type="radio" name="fontCollection" id="fontFamily2"
        value="fontFamily2" onchange="fontFamilyClicked(2)" />
      Libre Baskerville/Roboto
    </label>
    <label class="card-aside__text" for="fontFamily0">
      <input class="" type="radio" name="fontCollection" id="fontFamily3"
        value="fontFamily3" onchange="fontFamilyClicked(3)" />
      Philosopher/Libre Franklin
    </label>
  </section>
  <!-- end font family card -->

  <!--color theme card -->
  <section class="card-aside" id="">
    <h1 class="card-aside__heading">Color Theme</h1>

    <label class="card-aside__text" for="theme0">
      <input class="" type="radio" name="themeCollection" id="colorTheme0"
        value="colorTheme0" onchange="colorThemeClicked(0)" />
      Sunny Gray
    </label>

    <label class="card-aside__text" for="theme1">
      <input class="" type="radio" name="themeCollection" id="colorTheme1"
        value="colorTheme1" onchange="colorThemeClicked(1)" />
      Stormy Gray
    </label>

    <label class="card-aside__text" for="theme2">
      <input class="" type="radio" name="themeCollection" id="colorTheme2"
        value="colorTheme2" onchange="colorThemeClicked(2)" />
      Thunderhead
    </label>

    <label class="card-aside__text" for="theme3">
      <input class="" type="radio" name="themeCollection" id="colorTheme3"
        value="colorTheme3" onchange="colorThemeClicked(3)" />
      Spruce
    </label>

    <label class="card-aside__text" for="theme4">
      <input class="" type="radio" name="themeCollection" id="colorTheme4"
        value="colorTheme4" onchange="colorThemeClicked(4)" />
      Bristlecone
    </label>

    <label class="card-aside__text" for="theme5">
      <input class="" type="radio" name="themeCollection" id="colorTheme5"
        value="colorTheme5" onchange="colorThemeClicked(5)" />
      Red Tide
    </label>

    <label class="card-aside__text" for="theme6">
      <input class="" type="radio" name="themeCollection" id="colorTheme6"
        value="colorTheme6" onchange="colorThemeClicked(6)" />
      Bat Cave
    </label>

    <label class="card-aside__text" for="theme7">
      <input class="" type="radio" name="themeCollection" id="colorTheme7"
        value="colorTheme7" onchange="colorThemeClicked(7)" />
      Radium
    </label>

    <label class="card-aside__text" for="theme8">
      <input class="" type="radio" name="themeCollection" id="colorTheme8"
        value="colorTheme8" onchange="colorThemeClicked(8)" />
      Manilla
    </label>
  </section>
  <!-- end color theme card -->
</aside>
