<!-- {{> aside--z1-templates }} -->
<aside class="drawer__aside drawer__aside--z1-templates" id="asideZ1">
  <!-- content templates -->
  <section class="aside-section" id="">
    <h1 class="aside-section__heading">Content Templates</h1>

    <label class="aside-section__text" for="structure0">
      <input class="" type="radio" name="structureCollection" id="contentStructure0"
        value="structure0" onchange="structureCollectionClicked(0)" />
      Blank
    </label>

    <label class="aside-section__text" for="structure1">
      <input class="" type="radio" name="structureCollection" id="contentStructure1"
        value="structure1" onchange="structureCollectionClicked(1)" />
      Paragraph and Character Styles
    </label>

    <label class="aside-section__text" for="structure2">
      <input class="" type="radio" name="structureCollection" id="contentStructure2"
        value="structure2" onchange="structureCollectionClicked(2)" />
      Manufacturing Instructions
    </label>

    <label class="aside-section__text" for="structure3">
      <input class="" type="radio" name="structureCollection" id="contentStructure3"
        value="structure3" onchange="structureCollectionClicked(3)" />
      Maintenance Instructions
    </label>

    <label class="aside-section__text" for="structure4">
      <input class="" type="radio" name="structureCollection" id="contentStructure4"
        value="structure4" onchange="structureCollectionClicked(4)" />
      Software Tutorial
    </label>

    <label class="aside-section__text" for="structure5">
      <input class="" type="radio" name="structureCollection" id="contentStructure5"
        value="structure5" onchange="structureCollectionClicked(5)" />
      User Guide
    </label>

    <label class="aside-section__text" for="structure6">
      <input class="" type="radio" name="structureCollection" id="contentStructure6"
        value="structure6" onchange="structureCollectionClicked(6)" />
      Application Note
    </label>
  </section>

  <!-- help -->
  <section class="aside-section" id="">
    <h1 class="aside-section__heading">Help</h1>

    <label class="aside-section__text" for="structure0">
      <input class="" type="radio" name="structureCollection" id="contentStructure0"
        value="structure0" onchange="structureCollectionClicked(0)" />
      Getting Started
    </label>

    <label class="aside-section__text" for="structure1">
      <input class="" type="radio" name="structureCollection" id="contentStructure1"
        value="structure1" onchange="structureCollectionClicked(1)" />
      Tutorials
    </label>

    <label class="aside-section__text" for="structure2">
      <input class="" type="radio" name="structureCollection" id="contentStructure2"
        value="structure2" onchange="structureCollectionClicked(2)" />
      TBA1
    </label>

    <label class="aside-section__text" for="structure3">
      <input class="" type="radio" name="structureCollection" id="contentStructure3"
        value="structure3" onchange="structureCollectionClicked(3)" />
      TBA2
    </label>

    <label class="aside-section__text" for="structure4">
      <input class="" type="radio" name="structureCollection" id="contentStructure4"
        value="structure4" onchange="structureCollectionClicked(4)" />
      TBA3
    </label>

    <label class="aside-section__text" for="structure5">
      <input class="" type="radio" name="structureCollection" id="contentStructure5"
        value="structure5" onchange="structureCollectionClicked(5)" />
      TBA4
    </label>

    <label class="aside-section__text" for="structure6">
      <input class="" type="radio" name="structureCollection" id="contentStructure6"
        value="structure6" onchange="structureCollectionClicked(6)" />
      TBA5
    </label>
  </section>
  <!-- end help -->
</aside>
