<!-- {{> drawer-partial }} -->
<div class="drawer">
  {{> aside-z3 }}

  {{> aside-z2 }}

  {{> aside-z1 }}

  {{> aside-z0 }}

  <!-- ==== ==== ==== ==== main ==== ==== ==== ==== -->
  <main class="drawer__main b2 d r" id="">

    {{{ body }}}

  </main>

</div>
