<!-- {{> footer }} -->
<div class="footer footer--grid" id="footer">
  <!-- NOTE: copyright symbol = &copy;  -->
  <div class="footer__text-group" id="text-group">
    <p class="footer__text">
      Copyright © 2021 Journey ViewportDocs
    </p>
  </div>
  <div class="footer__logo-group" id="logo-group">
    <img
      class="footer__logo"
      src="{{asset "images/journey-viewportdocs-logo-footer.svg"}}"
      alt="logo"
    />
  </div>
</div>
