<!-- {{> head }} -->

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- responsive meta tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- ViewportDoc CSS -->
  <link rel="stylesheet" type="text/css" href="assets/css/project.css" />

  <title>src-vpd-editor-base.html</title>
</head>
