{{!-- main place dynamic content here --}}
<main class="drawer__main b2 d r" id="">
  Main
  <div class="b2 d b" id="editor"></div>
  <div id="editor-output" class="mobiledoc-output b2 d r"></div>
</main>
