/* This project uses the BEM CSS naming convention. */

/* CSS Grid defines the basic layout in the body element. Flexbox defines responsive containers in the header, drawer, and footer elements. The basic layout grid includes:
   header
   toolbar
   drawer
   footer */

* {
  box-sizing: border-box;
}

/* ===== ===== ===== body block  ===== ===== ===== */
.body {
  z-index: 0;
  overflow: hidden;
  font-size: var(--root-font-size);
  background-color: var(--color-background-b02);
  margin: 0 auto;
  overflow: hidden;
}

.body--grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header"
    "toolbar"
    "drawer"
    "footer";
  max-width: 1366px;
  height: 100vh;
  box-shadow: var(--shadow-border);
}

/* ===== ===== ===== header block  ===== ===== ===== */
.header {
  z-index: 0;
  grid-area: header;
  min-height: 2.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: var(--header-background);
  border-color: var(--header-border);
  border-width: 1px;
}

.header__title {
  font-size: 1.1rem;
  font-weight: normal;
  font-style: normal;
  margin: 3px;
  padding: 1px 10px 4px 10px;
  color: var(--header-h1-h6);
}

/* ===== ===== ===== toolbar block  ===== ===== ===== */
.toolbar {
  z-index: 0;
  grid-area: toolbar;
  border-style: solid;
  border-width: 1px 0 1px 0;
  background-color: var(--aside-background);
  border-color: var(--aside-border);
}

.toolbar--grid {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 1fr;
  grid-template-areas:
    "system"
    "editor";
}

.toolbar__btn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2px 10px 2px 10px;
  background-color: var(--aside-background);
}

.toolbar__btn-group--system {
  max-height: 5rem;
  justify-content: flex-start;
  align-content: flex-start;
}

.toolbar__btn-group--editor {
  justify-content: flex-start;
  align-content: center;
}

.toolbar__btn {
  height: 28px;
  width: 28px;
  margin: 2px;
  padding: 0px;
  background-color: var(--button-background);
  cursor: pointer;
}

/* ===== ===== ===== drawer block  ===== ===== ===== */
.drawer {
  z-index: 0;
  grid-area: drawer;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: auto;
  background-color: var(--main-background);
}

.drawer__aside {
  flex: 0 0 300px;
  padding: 6px 6px 22px 6px;
  border-style: solid;
  border-width: 0 1px 0 0;
  overflow-y: auto;
  background-color: var(--aside-background);
  border-color: var(--aside-border);
}

/* slide-in slide-out transition */
.drawer__aside {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.drawer__aside--z3-toc {
  z-index: 3;
  margin-left: -300px;
}

.drawer__aside--z2-info {
  z-index: 2;
  margin-left: -300px;
}

.drawer__aside--z1-templates {
  z-index: 1;
  margin-left: -300px;
}

.drawer__aside--z0-themes {
  z-index: 0;
  margin-left: -300px;
}

.drawer__main {
  z-index: 0;
  width: 100%;
  padding: 0.4rem 0.4rem 1.4rem 0.8rem;
  overflow-x: hidden;
  overflow-y: scroll;
  border-style: solid;
  border-width: 0;
  background-color: var(--main-background);
  border-color: var(--main-border);
}

/* ===== ===== ===== aside-section block  ===== ===== ===== */

.aside-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.25rem 3rem 0.75rem 0rem;
}

.aside-section--margin {
  margin: 0 0 1rem 0;
}

.aside-section__heading {
  font-size: 1.065rem;
  margin: 1rem 0.25rem 0.25rem 0.25rem;
  text-align: center;
  color: var(--aside-h1-h6);
}

.aside-section__text,
p > a {
  font-size: 1rem;
  margin: 0.25rem 0.25rem 0.75rem 0.2rem;
  text-decoration: none;
  color: var(--aside-text);
}

.aside-section--toc-1 {
  margin-left: 0rem;
}

.aside-section--toc-2 {
  margin-left: 1rem;
}

.aside-section--toc-3 {
  margin-left: 2rem;
}

/* ===== ===== ===== footer block  ===== ===== ===== */
.footer {
  z-index: 0;
  grid-area: footer;
  max-height: 3rem;
  border-style: solid;
  border-width: 1px 0 1px 0;
  overflow: hidden;
  border-color: var(--footer-border);
}

.footer--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "text-group"
    "logo-group";
}

.footer__text-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: auto;
  align-content: center;
  margin: 3px;
  padding: 1px 1px 1px 1px;
}

.footer__text {
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  margin: 3px;
  padding: 0px 1px 3px 1px;
  color: var(--footer-text);
}

.footer__logo-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3px;
  padding: 1px 1px 1px 1px;
  justify-content: flex-end;
  align-items: center;
}

.footer__logo {
  align-self: center;
  max-width: 140px;
  max-height: 32px;
}

/* ===== ===== ===== card-main block  ===== ===== ===== */
/* Styles for use in the main and editor blocks */
.card-main {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0.25rem 3rem 0.75rem 2.5rem;
  border-radius: 10px;
  background-color: var(--card-background-1);
  border: 1px solid var(--card-border-1);
  box-shadow: var(--shadow);
}

.card-main__heading {
  font-size: 1.065rem;
  margin: 0.25rem 1rem 0.25rem 1rem;
  color: var(--card-h1-h6-1);
}

.card-main__text {
  font-size: 1rem;
  margin: 0.25rem 1rem 0.25rem 1rem;
  padding: 0;
  color: var(--card-text-1);
}

/* ===== ===== ===== section block  ===== ===== ===== */

.section {
  margin: 0 0rem 0.75rem 0;
  padding: 0px;
  border: 1px solid var(--card-border-1);
}

/* ===== ===== ===== ===== Images ===== ===== ===== ===== */
img {
  width: 100%;
  height: auto;
  padding: 0px;
}

/* ===== ===== ===== media queries  ===== ===== ===== */
@media (max-width: 994px) {
  .drawer {
    margin-left: 0px;
  }

  .toolbar--grid {
    grid-template-columns: 150px auto;
  }
}
